<!DOCTYPE html>
<html>
<head>

    <title>Chat Rooms</title>
</head>
<style>
.form-control {
    display: block;
    width: 30%;
    </style>
<body>
    <center><h1>Enter the room name:<br></h1> 
        <div  class="form-group">

    <input id="user-name-input" class="form-control nav-create_channel" type="text" size="30" placeholder="user name"><br>
    <input id="room-name-input" class="form-control nav-create_channel" type="text" size="30" placeholder="room name"><br>
    <input id="room-name-submit" type="button" value="Enter" class="btn btn-default nav-create_channel"></div></center>

    <script>
        document.querySelector('#user-name-input').focus();
        document.querySelector('#user-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };
       

        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };


        document.querySelector('#room-name-submit').onclick = function(e) {
            var username = document.querySelector('#user-name-input').value;;
            var roomname = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/room/'+roomname+'/'+username;
        };
    </script>
    
</body>
</html>